
 <h1 class="font-bold text-4xl mb-4">DG</h1>
  <hr>
  
<section class="home py-4 my-8">
    
  <h2 class="font-bold text-3xl mb-4">Utilities</h2>
  

    <div class="utilities flex justify-between items-stretch">
     
     <div class="utility py-4 xl:w-1/2">
        <div class="bg-blue-50 p-4 card">
          <h3><a href="/utilities/etichette" class="text-2xl mb-4 block font-bold">Stampa Etichette</a></h3>
          <p class="text-muted">Prepara pdf pronti per stampa etichette adesive 7x3.5cm</p>
        </div>  
     </div>

      
      
    </div>
  

</section>
