<%= render partial: 'atoms/header', locals: {link: '/', label: 'Utilities / Stampa etichette'} %>

<%= render partial: 'atoms/form_import', locals: {prods: @products_import,  pdf: 'y'} %>

<section class="<%= style_main_cnt %>">
  <%= render partial: '/utilities/etix' %>
</section>
