 <h1 class=" text-3xl mr-4 mb-12">
   <a href="<%= link %>" class="text-2xl -ml-8 font-bold">
   <span class="material-symbols-outlined text-slate-500">
     arrow_back_ios
   </span>
   </a>
   <%= label %></h1>
 <hr>
