body {
    font-family: Arial, sans-serif !important;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#et,
#lab {
    margin: 0;
    padding: 0;
    width: 210mm;
}

#et .cell,
#et .notez {
    margin: 0;
    padding: 8mm 6mm 8mm;
    float: left;
    width: 70mm;
    height: 37mm;
    position: relative;
    font-size: 8.65pt !important;
    line-height: 10.4pt !important;
    overflow: hidden;
}

#lab .cell,
#lab .notez {
    margin: 0;
    padding: 8mm 6mm 14mm;
    float: left;
    width: 70mm;
    height: 37mm;
    position: relative;
    font-size: 7pt !important;
    line-height: 8pt !important;
    overflow: hidden;
}

#lab .cell.sm {
    padding: 4mm 6mm 8mm;
    font-size: 7pt !important;
}

#et .cell.sm {
    padding: 4mm 6mm 2mm;
    font-size: 7pt !important;
}

#et {
    margin: 0;
    margin-top: 1mm;
}

#et .cell.hor,
#lab .cell.hor {
    border: 1px solid #ccc;
}

#et .cell .sub p {
    line-height: 10pt !important;
    font-size: 8.65pt !important;
    margin: 0;
    padding: 0;
}

#lab .cell .sub p {
    line-height: 8pt !important;
    font-size: 7.65pt !important;
    margin: 0;
    padding: 0;
}

#et .cell p.air,
#lab .cell p.air {
    margin: 1pt 0;
}

#et .cell.sm p {
    font-size: 7pt !important;
}

#et .cell-camp {
    padding: 4mm 6mm 4mm;
}
#et .cell-camp .sub p {
    //font-weight: bold;
    font-size: 11pt !important;
}

#lab .cell.sm p {
    font-size: 0.8em !important;
}

#et .cell .sub.hor {
    position: relative;
    font-sze: 8.5pt !important;
}

#lab .cell .sub.hor {
    position: relative;
    font-size: 7pt !important;
}

.sub {
    width: 100%;
    height: 28mm;
    overflow: hidden;
}

.subzero {
    width: 100%;
    height: 12mm;
    margin: 1mm 0;
}

#et .cell .sub.hor p,
#lab .cell .sub.hor p {
    position: absolute;
    top: 0;
    right: 0;
    width: 58%;
}
#et .cell .sub.hor img,
#lab .cell .sub.hor img {
    position: absolute;
    top: 0;
    left: -2mm;
    width: 44%;
    height: auto;
}
#lab p.fasi {
    font-size: 5pt;
    line-height: 6pt !important;
    position: absolute;
    bottom: 2pt;
}

.fasi label {
    font-size: 0.8em;
    margin-top: 0.1pt;
}

.fasi input[type="radio"] {
    height: 3pt;
    width: 3pt;
    border: 0.1pt solid #333;
    margin: 0;
    margin-right: 4pt;
    border-radius: 50%;
    background-color: transparent;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.fasi span {
    width: 50%;
    float: left;
}

.flipV {
    width: 100%;
    text-align: right;
    margin: 0;
    transform: scale(-1, -1);
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}
