              <% notez == '' ? addx = '<span class="material-symbols-outlined">
              add_2
              </span>' : addx = '<span class="material-symbols-outlined">
              edit
              </span>' %>

<%= turbo_frame_tag :note do %>
  <div>
  <p class="mr-16"> <%= product.note %> </p>

  <%= link_to [:edit, product, attribute: :note ], class:"no-pdf text-end text-xs uppercase text-blue-500 font-bold absolute right-4 bottom-4" do %>
    <%= raw(addx) %>
    <% end %>
  </div>

<% end %>
