<div id="<%= dom_id taglium %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= taglium.description %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this taglium", taglium, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this taglium', edit_taglium_path(taglium), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
