body {
    font-family: Arial, sans-serif !important;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#et {
    margin: 0;
    padding: 0;
    width: 210mm;
}

#et .cell {
    margin: 0;
    padding: 12mm 6mm 4mm;
    float: left;
    width: 70mm;
    height: 36mm;
    position: relative;
    font-size: 8.65pt !important;
    line-height: 10.4pt !important;
}

#et .cell .sub p {
    line-height: 10.4pt !important;
    font-size: 8.65pt !important;
    margin: 0;
    padding: 0;
}
