body {
    font-family: Arial, sans-serif !important;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#et {
    margin: 0;
    padding: 0;
    width: 210mm;
}

#et .cell {
    margin: 0;
    padding: 4mm 8mm;
    float: left;
    width: 70mm;
    height: 36mm;
    position: relative;
    border: 1px solid #ccc;
}

#et .cell .sub p {
    line-height: 10.4 pt;
    font-size: 8.65pt;

    margin: 0;
    padding: 0;
}
